@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gray-color {
  color: #1F2937;
}

.primary {
  color: #30AFA7;
}

.primary-bg {
  background: #30AFA7;
}

.light-primary-bg {
  background: #ecfefc;
}

.light-gold-bg {
  background: #fef3de;
}

.gold {
  color: #ffbb1d;
}

.gold-bg {
  background: #ffbb1d;
}

.common-button:hover {
  background: transparent !important;
  color: #30AFA7;
}

.container {
  width: 100%;
  max-width: 1420px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
}

.about-cont {
  background: linear-gradient(white, #30afa619, #30afa619, #30afa619, #30afa619);
}

.swiper-pagination-bullet-active {
  background: #30AFA7 !important;
}

input,
textarea {
  outline: none;
}

@media screen and (min-width: 1380px) {
  .main-image {
    max-width: 500px !important;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}